.content{
    width: 70%;
    margin: auto;
    padding: 1rem;
}
ion-select{
    width: 50%;
    margin: auto;
}

.title{
    font-size: 18px;
    text-decoration: solid;
    color: rgb(6, 71, 141);
}