<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nuevo Huesped</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form [formGroup]="myForm">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Código</ion-label>
            <ion-input formControlName="codigo"></ion-input>
          </ion-item>
          <div>
            <ng-container>
              <div class="errormessage"></div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
