<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="regulation">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>{{"Reglamento" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="view-huesp">
      <ion-icon name="finger-print-outline"></ion-icon>
      <ion-label>{{"Ingreso" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="activities">
      <ion-icon name="accessibility-outline"></ion-icon>
      <ion-label>{{"Actividades" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="locate-outline"></ion-icon>
      <ion-label>{{"Mapa" }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
